* {
    padding: 0;
    margin: 0;
    border: 0;

}



.vagas {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}


.vagas button {
    display: flex;
    width: 50px;
    height: 50px;
    gap: 50px;
    background-color: green;
    color: white;
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin: 20px 20px;

}


.vagas button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.vagas .ocupada {
    background-color: red;
    color: white;
}

.vagas .disponivel {
    background-color: green;
    color: white;
}



.container {
    margin-bottom: 50px;
    margin: 20px 200px 0px 200px;
    display: flex;
    width: 900px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(64, 206, 206);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    padding: 10px 0px;

}

.container h2 {
    color: aliceblue;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: aliceblue;
}

.container form input {
    width: 200px;
    height: 20px;


}

.container form button {
    width: 200px;
    height: 30px;
    background-color: cadetblue;
    color: aliceblue;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* login */
.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 35vw;
    border-radius: 10px;
    background-color: rgb(64, 206, 206);
    margin: 160px 450px;
    /* padding: 0px 50px 0px 50px; */

}

.container-login form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
    gap: 3px;
    align-items: center;
    color: aliceblue;
    margin-bottom: 85px;
}


.container-login input,
select,
button {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    
}

.container-login h2 {
    margin-top: 100px;
    color: aliceblue;
}

.container-login button {
    background-color: cadetblue;
    color: aliceblue;
    height: 30px;
    cursor: pointer;
    width: 90px;
}

.container-login ::placeholder{
  padding: 0px 10px;
}


.container-login label {
    font-weight: bold;
    margin-right: 190px;
    /* margin-left: 40px; */
}

#for44{
    margin-left: 40px;
}
